.navigation {
    max-width: 500px;
    padding: 5px auto;
    margin: 5px auto; 
}
.navigation__item {
    margin: 10px 0;   
}
.navigation__list {
   list-style-type: none;
   padding-inline-start: 0px;
}   
.navigation__link {
    color: hsl(25, 98%, 20%);
}
.navigation__link:hover {
    color: hsl(25, 98%, 40%);
}
.navigation__link:active {
    color:  hsl(25, 98%, 60%);
}
.dark .navigation__link {
    color: hsl(180, 98%, 55%);
}
.dark .navigation__link:hover {
    color: hsl(180, 98%, 95%);
}
.dark .navigation__link:active {
    color: hsl(180, 98%, 35%);
}

